img{
    height: 400px;
    width: 650px;
}
h1{
    color: pink;
    background-color:black;
    text-align: center;
}
h2{
    color:darkslategray;
}
h3{
    color:darkslategray;
    text-align: left;
}